<html dir="ltr" mozdisallowselectionprint>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=3, maximum-scale=1">
  <meta name="google" content="notranslate">

  <style>
    #pageContainer .page-with-shadow {
      position: relative;
      margin-bottom: 18px;
    }

    #pageContainer .page-with-shadow::after {
      content: "";
      position: absolute;
      inset: -9px;
      pointer-events: none;

      border: 9px solid transparent;
      border-image: url(/node_modules/pdfjs-dist/web/images/shadow.png) 9 9 repeat;

      box-sizing: border-box;
    }

  </style>

  <link rel="stylesheet" href="/node_modules/pdfjs-dist/web/pdf_viewer.css">

  <script src="/node_modules/pdfjs-dist/build/pdf.js"></script>
  <script src="/node_modules/pdfjs-dist/web/pdf_viewer.js"></script>
</head>

<body tabindex="1">
  <p>
    <a href="https://www.spok.dev/files/resume-michael-szpakowicz.pdf" download>
      Download PDF
      <i class="fa fa-download"></i>
    </a>
  </p>
  <div id="pageContainer" class="pdfViewer singlePageView"></div>
  <script>
    "use strict";

    if (!pdfjsLib.getDocument || !pdfjsViewer.PDFPageView) {
      // eslint-disable-next-line no-alert
      alert("Please build the pdfjs-dist library using\n  `gulp dist-install`");
    }

    // The workerSrc property shall be specified.
    pdfjsLib.GlobalWorkerOptions.workerSrc =
      "/node_modules/pdfjs-dist/build/pdf.worker.js";
  
    // Some PDFs need external cmaps.
    const CMAP_URL = "/node_modules/pdfjs-dist/cmaps/";
    const CMAP_PACKED = true;

    const DEFAULT_URL = "{{.Site.BaseURL}}" + '{{ .Get "url" }}';
    const SCALE = 1.15;

    const container = document.getElementById("pageContainer");
  
    const eventBus = new pdfjsViewer.EventBus();

    // Loading document.
    const loadingTask = pdfjsLib.getDocument({
      url: DEFAULT_URL,
      cMapUrl: CMAP_URL,
      cMapPacked: CMAP_PACKED,
    });

    loadingTask.promise.then(async function (pdfDocument) {
      // Loop through all pages in the PDF document
      for (let pageNum = 1; pageNum <= pdfDocument.numPages; pageNum++) {
        const pdfPage = await pdfDocument.getPage(pageNum);

        // Creating the page view for each individual page
        const pdfPageView = new pdfjsViewer.PDFPageView({
          container,
          id: pageNum,
          scale: SCALE,
          defaultViewport: pdfPage.getViewport({ scale: SCALE }),
          eventBus,
          textLayerFactory: new pdfjsViewer.DefaultTextLayerFactory(),
          annotationLayerFactory: new pdfjsViewer.DefaultAnnotationLayerFactory(),
        });

        // Associates the actual page with the view, and draws it
        pdfPageView.setPdfPage(pdfPage);
        await pdfPageView.draw();

        // The PDFPageView creates an individual `.page` element.
        // Apply the shadow directly to that page.
        pdfPageView.div.classList.add("page-with-shadow");
      }
    });
  </script>
</body>
</html>
